html, body
{
  height: 100%;  
  background: hsla(270, 94%, 25%, 1);
  background: linear-gradient(90deg, rgb(83, 5, 107) 0%, rgb(10, 215, 230) 100%);
  background: -moz-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, rgb(10, 215, 230) 100%);
  background: -webkit-linear-gradient(90deg, rgb(63, 3, 122) 0%, rgb(10, 215, 230) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#42047E", endColorstr="#07F49E", GradientType=1 );
  overflow: hidden;
}

#stars 
{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 483px 450px #FFF , 1995px 525px #FFF , 755px 1459px #FFF , 610px 1246px #FFF , 764px 1850px #FFF , 1274px 1697px #FFF , 1227px 37px #FFF , 1090px 506px #FFF , 341px 1005px #FFF , 1002px 755px #FFF , 693px 1497px #FFF , 1797px 1626px #FFF , 1838px 793px #FFF , 802px 881px #FFF , 1117px 1983px #FFF , 352px 1465px #FFF , 1526px 852px #FFF , 1559px 526px #FFF , 517px 516px #FFF , 1380px 244px #FFF , 662px 1531px #FFF , 1544px 518px #FFF , 253px 879px #FFF , 774px 1629px #FFF , 752px 994px #FFF , 1129px 726px #FFF , 232px 1050px #FFF , 1766px 290px #FFF , 1976px 842px #FFF , 662px 1535px #FFF , 257px 1016px #FFF , 665px 708px #FFF , 1476px 1772px #FFF , 261px 498px #FFF , 719px 1459px #FFF , 469px 438px #FFF , 994px 474px #FFF , 744px 808px #FFF , 1609px 1741px #FFF , 898px 260px #FFF , 1978px 1436px #FFF , 904px 1244px #FFF , 123px 773px #FFF , 6px 923px #FFF , 1973px 1778px #FFF , 1470px 1861px #FFF , 1037px 156px #FFF , 554px 1905px #FFF , 1508px 849px #FFF , 1213px 1603px #FFF , 87px 1907px #FFF , 492px 527px #FFF , 91px 213px #FFF , 492px 15px #FFF , 1357px 1157px #FFF , 637px 240px #FFF , 1515px 281px #FFF , 1757px 682px #FFF , 1035px 1298px #FFF , 1019px 1233px #FFF , 25px 162px #FFF , 262px 884px #FFF , 1328px 965px #FFF , 984px 879px #FFF , 1213px 689px #FFF , 623px 1091px #FFF , 1227px 422px #FFF , 1977px 1025px #FFF , 620px 474px #FFF , 528px 1525px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after 
{
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 483px 450px #FFF , 1995px 525px #FFF , 755px 1459px #FFF , 610px 1246px #FFF , 764px 1850px #FFF , 1274px 1697px #FFF , 1227px 37px #FFF , 1090px 506px #FFF , 341px 1005px #FFF , 1002px 755px #FFF , 693px 1497px #FFF , 1797px 1626px #FFF , 1838px 793px #FFF , 802px 881px #FFF , 1117px 1983px #FFF , 352px 1465px #FFF , 1526px 852px #FFF , 1559px 526px #FFF , 517px 516px #FFF , 1380px 244px #FFF , 662px 1531px #FFF , 1544px 518px #FFF , 253px 879px #FFF , 774px 1629px #FFF , 752px 994px #FFF , 1129px 726px #FFF , 232px 1050px #FFF , 1766px 290px #FFF , 1976px 842px #FFF , 662px 1535px #FFF , 257px 1016px #FFF , 665px 708px #FFF , 1476px 1772px #FFF , 261px 498px #FFF , 719px 1459px #FFF , 469px 438px #FFF , 994px 474px #FFF , 744px 808px #FFF , 1609px 1741px #FFF , 898px 260px #FFF , 1978px 1436px #FFF , 904px 1244px #FFF , 123px 773px #FFF , 6px 923px #FFF , 1973px 1778px #FFF , 1470px 1861px #FFF , 1037px 156px #FFF , 554px 1905px #FFF , 1508px 849px #FFF , 1213px 1603px #FFF , 87px 1907px #FFF , 492px 527px #FFF , 91px 213px #FFF , 492px 15px #FFF , 1357px 1157px #FFF , 637px 240px #FFF , 1515px 281px #FFF , 1757px 682px #FFF , 1035px 1298px #FFF , 1019px 1233px #FFF , 25px 162px #FFF , 262px 884px #FFF , 1328px 965px #FFF , 984px 879px #FFF , 1213px 689px #FFF , 623px 1091px #FFF , 1227px 422px #FFF , 1977px 1025px #FFF , 620px 474px #FFF , 528px 1525px #FFF;
}

#stars2 
{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1585px 315px #FFF , 1750px 858px #FFF , 502px 1184px #FFF , 1482px 150px #FFF , 870px 93px #FFF , 1401px 1976px #FFF , 494px 1549px #FFF , 1607px 1894px #FFF , 1029px 1466px #FFF , 1931px 1390px #FFF , 819px 1431px #FFF , 521px 1062px #FFF , 1754px 574px #FFF , 577px 943px #FFF , 850px 1377px #FFF , 445px 1835px #FFF , 1658px 1675px #FFF , 521px 1144px #FFF , 560px 1624px #FFF , 1329px 1778px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after 
{
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1585px 315px #FFF , 1750px 858px #FFF , 502px 1184px #FFF , 1482px 150px #FFF , 870px 93px #FFF , 1401px 1976px #FFF , 494px 1549px #FFF , 1607px 1894px #FFF , 1029px 1466px #FFF , 1931px 1390px #FFF , 819px 1431px #FFF , 521px 1062px #FFF , 1754px 574px #FFF , 577px 943px #FFF , 850px 1377px #FFF , 445px 1835px #FFF , 1658px 1675px #FFF , 521px 1144px #FFF , 560px 1624px #FFF , 1329px 1778px #FFF;
}

#stars3 
{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 91px 409px #FFF , 1886px 728px #FFF , 1294px 970px #FFF , 720px 1215px #FFF , 796px 1431px #FFF , 834px 1217px #FFF , 1926px 1164px #FFF , 1803px 310px #FFF , 1532px 1421px #FFF , 1680px 232px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after 
{
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 91px 409px #FFF , 1886px 728px #FFF , 1294px 970px #FFF , 720px 1215px #FFF , 796px 1431px #FFF , 834px 1217px #FFF , 1926px 1164px #FFF , 1803px 310px #FFF , 1532px 1421px #FFF , 1680px 232px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
  
.hidden
{
    display: none;
}

.active
{
    opacity:1;
}

.inactive
{
    opacity:0;
}

.window-global-container
{
    margin-top: 5%;
    max-width: 81%;
    height: 730px;
    display: flex;    
    /* background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.29);  */

    background: rgba(0, 0, 0, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
}

.left-panel
{
    margin-left: -0.9%;
    padding-bottom: 5%;
    height: auto;    
    width: 30%;    
    /* background: rgba(229, 227, 244, 0.71);
    border-radius: 16px 0px 0px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(229, 227, 244, 0.1); */

   
    background: rgba(0, 0, 0, 0.44);
    border-radius: 16px 0 0 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px); */
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#menu
{
    margin-top: 4rem;
} 

#menu .nav-item
{
    width: 100%;
    height: 75px;
    display: flex;       
    transition: ease-in-out 0.1s;
}

#menu .nav-item:hover
{    
    background-color: rgba(156, 42, 172);
    box-shadow: 0 4px 30px rgba(182, 37, 196, 0.2 );
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);    

    -webkit-box-shadow: 4px 6px 51px -6px rgba(20,204,106,1);
    -moz-box-shadow: 4px 6px 51px -6px rgba(20,204,106,1);
    box-shadow: 2px 4px 31px -3px rgba(20,204,106,1);
    cursor: pointer;   
    
}

#menu .nav-item .icon
{
    width: 70px;
    border-radius: 50%;
    padding: 8px;
}

#menu .nav-item a>span
{
    color: #FFF;
    font-size: 21px;
}

.right-panel
{
    width: 100%;
}

.right-panel #about-me a
{
    text-decoration: none;
    color: #FFF;
}

.window-dots
{
    padding-top: 1%;
    padding-left: 2%;
}

.dot
{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;    
    margin: 5px;

}

#red-dot
{
background-color: #ca3636;
}

#yellow-dot
{
 background-color: #f1c122;   
}

#green-dot
{
  background-color: #0fca37;  
}


/*About me styles */
.aboutme-container h1
{
    font-size: 52px;
    font-weight: 600;

   
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #1de27c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #1de27c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;


  
}

.aboutme-container h3
{
    color: #FFF;
}
.aboutme-container .descr
{
    font-size: 20px;
    color: #FFF;
}

.avatar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar img
{
    border-radius: 50%;
    width:280px;
    margin-top: 3%;
}

.next-button 
{
    display: inline-block;
    padding: 20px 28px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(156, 42, 172);
    border: 1px solid rgba(156, 42, 172, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);    
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;
}
      
.next-button:hover 
{
    background-color: rgba(250, 250, 250, 0.856);
    color: #000;
    -webkit-box-shadow: 4px 6px 51px -6px rgba(20,204,106,1);
    -moz-box-shadow: 4px 6px 51px -6px rgba(20,204,106,1);
    box-shadow: 4px 6px 51px -6px rgba(20,204,106,1);
}
/*End about me styles */





