.skills-container
{
    display: flex;      
}

.skills-container .skills-item
{   
    margin-top: 8%;
    width: 480px;
    height: auto; 
    background: rgba(77, 153, 223, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    border: 1px solid rgba(77, 153, 223, 0.3);
}

.skills-item h4
{
    text-align: left;
    padding-left: 6%;
    font-weight: 800px;
}

.skills-item ul>li
{
    list-style: none;
    padding: 5px;
}

.skills-item li:hover
{
   cursor: pointer;
}

.technical-skills
{
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
}

.technical-skills #skill-icon
{
    width: 60px;
}

.technical-skills #programming-tools
{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
}

.soft-skills
{
    align-items: flex-end;
}